<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poo.bibliosearch">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bibliosearch_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bibliosearch_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".CreateBookScreen"
            android:parentActivityName=".HomeMenu" />
        <activity
            android:name=".HomeMenu"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName=".LoginScreen"/>
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <activity
            android:name=".RegisterScreen"
            android:parentActivityName=".LoginScreen" />
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>